.button {
    text-decoration: none;
    min-width: 195px;
    height: 53px;
    padding: 14px 40px;
    background-color: $Yellow; 
    font-family: 'Space Mono', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    outline: none;
    border: none;
    color: white; 
    border: 2px solid transparent;    
}

.button:hover {
    background-color: transparent;
    border: 2px solid $Yellow;
    color: $Yellow;
}
