.advantages {
    margin-bottom: 40px;
    
    &__container {
        max-width: 1440px;
        overflow: hidden;
    }
    
    @mixin forAfter {
        content: '';
        position: absolute;
        width: 445px;
        height: 445px;
        background-image: url('./../../images/advantages-round.svg');
        background-repeat: no-repeat;
        z-index: 1;
    }
    
    @mixin forBefore {
        content: '';
        position: absolute;
        width: 741px;
        height: 151px;
        background-image: url('./../../images/advantages-pointer1.svg');
        background-repeat: no-repeat;
        z-index: 2;
    }
    
    &__list {
        width: 100%;
        padding: 0px;
    }
    
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-bottom: 160px;
        position: relative;
    } 
    
    &__img-wrapper {
        position: relative;
    }
    
    &__item:nth-child(1) {
        .advantages__img-wrapper {
            &:after {
                @include forAfter;
                left: calc(100% + 64px);
            }
            
            &:before {
                @include forBefore;
                bottom: 0px;
                left: -130px;
            }
        }   
    }
    
    &__item:nth-child(2) {
        flex-direction: row;
        
        .advantages__img-wrapper {
            &:after {
                @include forAfter;
                right: calc(100% + 64px);
            }
            
            &:before {
                @include forBefore;
                transform: rotateY(180deg);
                top: 0px;
                right: 260px;
            }
        }   
    }
    
    &__item:nth-child(3) {
        .advantages__img-wrapper {
            &:after {
                @include forAfter;
                left: calc(100% + 64px);
            }
            
            &:before {
                @include forBefore;
                top: 85px;
                left: 255px;
            }
        }   
    }
    
    
    
    
    &__img {
        width: 445px;
        height: 445px;
        border-radius: 50%;
    }
    
    
    
    
    
    &__text-wrapper {
        max-width: 445px;
        width: 100%;
    }
    
    &__heading {
        font-family: 'Space Mono', sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2.142857074737549px;
        text-align: left;
        color: $Dark_Navy;
        margin-bottom: 24px;        
    }
    
    
    &__text {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        margin-bottom: 40px;
        color: $Dim_Grey;
    }


















    @media only screen and (max-width: 768px) {
        margin-bottom: 104px;
    
        &__container {
            max-width: 768px;
            overflow: hidden;
        }
        
        &__item {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 120px;
        } 
        
        &__item:nth-child(1) {
            .advantages__img-wrapper {
                &:after {
                    @include forAfter;
                    left: calc(100% + 64px);
                }
                
                &:before {
                    @include forBefore;
                    bottom: 0px;
                    left: -130px;
                }
            }   
        }
        
        &__item:nth-child(2) {
            flex-direction: column;
            
            .advantages__img-wrapper {
                &:after {
                    @include forAfter;
                    right: calc(100% + 64px);
                }
                
                &:before {
                    @include forBefore;
                    transform: rotateY(180deg);
                    top: 0px;
                    right: 260px;
                }
            }   
        }
        
        &__item:nth-child(3) {
            .advantages__img-wrapper {
                &:after {
                    @include forAfter;
                    left: calc(100% + 64px);
                }
                
                &:before {
                    @include forBefore;
                    top: 85px;
                    left: 255px;
                }
            }   
        } 
        
        &__img {
            margin-bottom: 56px;
        }
        
        
        &__text-wrapper {
            max-width: 573px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        &__heading {
            max-width: 457px;
            width: 100%;
            text-align: center;
            margin-bottom: 40px;        
        }
        
        
        &__text {
            text-align: center;
        }
    }
    
    
}