.header {
    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 22px;
        div {
            display: flex;
            align-items: center;           
        }
    }

    .menu-button {
        background-color: transparent;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }


    .burger-menu{
        width: 20px;
        height: 16px;
    }

    .close-menu{
        width: 18px;
        height: 18px; 
    }

    &__background-layer {
        display: none;
    }
    
    &___logo {
        width: 108px;
        height: 29px;
        margin-right: 58px;
    }
    
    &__list{
        display: flex;
        margin-left: 58px;
    }
    
    &__item {       
        a {
            text-decoration: none;
            font-family: 'Space Mono', sans-serif;
            font-size: 15px;
            font-weight: 700;
            line-height: 25px;
            text-align: left; 
            color: $Dim_Grey;
        }
        
        a:hover {
            color: $Yellow
        }
    }
    
    &__item + &__item {
        margin-left: 32px;
    }

    &__list-button {
        display: none;
    }

    @media only screen and (max-width: 675px){
        &__container {
            max-width: 100%;
            display: block;
            padding: 24px 32px;
            position: fixed;
            z-index: 900;
            background-color: white;
            top: 0;
            left: 0;

            div {
                display: flex;
                justify-content: center;

                &___logo {
                    width: 76px;
                    height: 20px;
                }
            }        
        }

        &__list {
            display: block;
            position: absolute;
            max-width: 256px;
            width: 100%;
            height: calc(100vh - 72px);
            top: 100%;
            left: -256px;
            margin: 0px;
            transform: translateX(-256px);
            transition: 0.5s ease all;
            background-color: #333A44;
            flex-direction: column;
            align-items: start;
            z-index: 10;
            padding: 64px 32px 24px;
        }

        &__list-button {
            display: block;
            position: absolute;
            bottom: 24px;
        }

        &__background-layer {
            position: absolute;
            max-width: 0%;
            width: 100%;
            height: calc(100vh - 72px);
            top: 100%;
            left: 0px;
            background-color: rgba(0, 0, 0, 0.585);
            z-index: 9;
        }

        &__item {
            a {
                color: $Light_Grey;
            }
        }

        &__item + &__item {
            margin-left: 0px;
            margin-top: 24px;
        }

        &__button {
            display: none;
        }

        .menu-button {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 999;
        }

        .close-menu {
            display: none;
        }

        

        &.open-menu {
            .close-menu {
                display: block;
            }

            .burger-menu {
                display: none;
            }

            .header__background-layer {
                max-width: 100%;
                display: block;
            }

            .header__list {
                transform: translateX(256px);
                transition: 0.5s ease all;
            }
        }
    }
    
}