.header {
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 22px;
        div {
            display: flex;
            align-items: center;           
        }
    }
    
    &___img {
        width: 108px;
        height: 29px;
        margin-right: 58px;
    }
    
    &__list{
        display: flex;
        margin-left: 58px;
    }
    
    &__item {       
        a {
            text-decoration: none;
            font-family: 'Space Mono', sans-serif;
            font-size: 15px;
            font-weight: 700;
            line-height: 25px;
            text-align: left; 
            color: $Dim_Grey;
        }
        
        a:hover {
            color: $Yellow
        }
    }
    
    &__item + &__item {
        margin-left: 32px;
    }
    
}