.header {
    
    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 22px;
        div {
            display: flex;
            align-items: center;           
        }
    }

    .burger-menu {
        display: none;
    }
    
    &___logo {
        width: 108px;
        height: 29px;
        margin-right: 58px;
    }
    
    &__list{
        display: flex;
        margin-left: 58px;
    }
    
    &__item {       
        a {
            text-decoration: none;
            font-family: 'Space Mono', sans-serif;
            font-size: 15px;
            font-weight: 700;
            line-height: 25px;
            text-align: left; 
            color: $Dim_Grey;
        }
        
        a:hover {
            color: $Yellow
        }
    }
    
    &__item + &__item {
        margin-left: 32px;
    }

    @media only screen and (max-width: 375px){
        &__container {
            display: block;
            padding: 24px 32px;

            div {
                display: flex;
                justify-content: center;

                &___logo {
                    width: 75.5px;
                    height: 20px;
                }
            }        
        }

        .burger-menu {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        


        &__list {
            display: none;
        }

        &__button {
            display: none;
        }
    }
    
}