.hero {
    &__container {
        max-width: 1440px;
        width: 100%;
        min-height: 650px;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 165px;
        background-image: url('./../../images/hero-pinter1.svg'), url('../../images/hero-pointer2.svg'), url('./../../images/hero-background.png');
        background-repeat: no-repeat;
        background-size: 203px 16px, 452px 151px, 1440px 650px;
        background-position: 0px 353px, 700px 353px, center;
        
    }
    
    &__background-layer {
        display: none;
    }

    &__texts-wrapper {
        max-width: 500px;
        width: 100%;
    }

    &__heading {
        font-family: 'Space Mono', sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -2.5px;
        text-align: left;  
        margin-bottom: 40px; 
        color: white;     
    }

    &__text {
        color: white;
        font-family: 'Lexend Deca' sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        margin-bottom: 40px; 
        margin-left: 95px;       
    }

    &__button {
        margin-left: 95px;
    }
}